@import '../../../../assets//styles/variables';
@import '../../../../assets/styles/mixins';

.ContentDichvu-control {

    display: flex;
    align-items: center;
    margin-left: 24px;

@include controllDefault;

    &-date {
        margin-left: 24px;
    }

    &-search {
        margin-left: 188px;
    }
}