@import '../../../../assets//styles/variables';
@import '../../../../assets/styles/mixins';

.ContentDichvu-control {

    display: flex;
    align-items: center;
    margin-left: 24px;

    .labelSelecpxt {
        width: 83px;
        height: 24px;

        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #282739;
        white-space: nowrap;
    }

    .ant-select {
        background: #FFFFFF;
        border: 1.5px solid #D4D4D7;
        box-sizing: border-box;
        border-radius: 8px;

    }

    .ant-picker {
        background: #FFFFFF;
        border: 1.5px solid #D4D4D7;
        box-sizing: border-box;
        border-radius: 8px;

    }

    .ant-input-group {
        background: #FFFFFF;
        /* Gray/$-gray-100 */

        border: 1.5px solid #D4D4D7;
        box-sizing: border-box;
        border-radius: 8px;
    }

    .ant-input-search-button {
        border: none;

        .anticon-search {
            color: $primaryColor;
        }
    }

    &-date {
        margin-left: 24px;
    }

    &-search {
        margin-left: 188px;
    }
}