@import '../../../../assets//styles/variables';
@import '../../../../assets/styles/mixins';

.Content-control {
    width: 1112px;
    display: flex;
    align-items: center;
    margin-left: 24px;
    justify-content: space-between;
    @include controllDefault;

    // &-dichvu {}

    // &-status {}
    &-connection {
        margin-left: 24px;
    }



    &-search {
        margin-left: 8px;

    }
}