@import '../../../../assets//styles/variables';
@import '../../../../assets/styles/mixins';


.ContentThietbi-Table {
    width: 1112px;

    margin-left: 24px;
    margin-top: 16px;
    filter: drop-shadow(2px 2px 8px rgba(232, 239, 244, 0.8));
    border-radius: 12px;

    // scss table
    .ant-table {
        border-radius: 12px !important;
        overflow: hidden;
        width: 1112px;
        height: 490px;
    }

    .ant-table-thead>tr>th {
        background-color: #FF9138;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        white-space: nowrap;
        padding: 0px 17px;
        width: 93px;
        height: 49px;
    }

    .ant-table-tbody>tr>td {
        width: 162px;
        height: 49px;
        padding: 0px 17px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #535261;

    }
    tr:nth-child(odd){ 
        background: $whiteColor;
    }
    tr:nth-child(even){
        background: #FFF2E7;
    }
    .ant-table-cell{
        a{
            color: #4277FF;
            text-decoration: underline;
        }
    }

}