@import '../assets/styles/variables';
@import '../assets/styles/mixins';

.login {
    background-color: $backgroundPageColor;
    height: 810px;
    border-radius: 16px;
    width: 100%;

    &-LayoutLeft {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &_Logo {
            // margin-top: 82px;
            width: 170px;
            height: 136px;
            left: 208px;
            top: 82px;
        }

        &-FormLogins {
            margin-top: 84px;

            Input {
                height: 44px;
                width: 400px;
                border-radius: 8px;

                &:focus {
                    border-color: $primaryColor;
                }

                &:hover {
                    border-color: $primaryColor;
                }
            }

            label {
                font-family: 'Nunito';
                width: 133px;
                height: 27px;
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                color: $textColor;
                white-space: nowrap;
            }

            .btn-group {
                display: flex;
                justify-content: center;


                .login-form-forgot {
                    top: 45px;
                }


            }


            Button {
                @include btn;
                position: relative;
            }

            .btn-out {
                background-color: $whiteColor;
                color: $primaryColor;

                &:hover {
                    color: $whiteColor;
                }
            }

            .login-form-forgot,
            .login__Status {
                color: #E73F3F;
                position: absolute;
                top: -20px;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
            }

            .login__Status {
                display: flex;
                // justify-items: center;
                align-items: center;

                span {
                    margin: 4px;
                }

                img {
                    width: 17px;
                    height: 17px;
                }
            }

            .Formforgort_Password ,.FormReset_Password {
                display: flex;
                flex-direction: column;
                align-items: center;

                h3 {
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 33px;
                    color: #282739;
                }
            }


        }

    }

    &-LayoutRight {
        background-color: #ffff;
        width: 100%;
        position: relative;
        height: 810px;

        &-Image {
            position: absolute;
            width: 605px;
            height: 615px;
            left: 80px;
            top: 113px;
            border-radius: 16px;
        }

        &-Title {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        &-Title_ht {
            position: absolute;
            width: 142px;
            height: 54px;
            right: 252px;
            top: 407px;
            font-family: 'Nunito';
            font-weight: 400;
            font-size: 34px;
            line-height: 51px;
            text-align: center;
            color: $primaryColor;
            white-space: nowrap;

            &:hover {
                cursor: pointer;
            }

        }

        &-Title_ql {
            position: absolute;
            width: 360px;
            height: 54px;
            right: 34px;
            top: 454px;
            font-weight: 900;
            font-size: 36px;
            line-height: 54px;
            font-family: 'Nunito';
            color: $primaryColor;
            text-transform: uppercase;
            white-space: nowrap;

            &:hover {
                cursor: pointer;
            }
        }
    }
}