@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';


header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $backgroundPageColor;

   
}

.ant-layout-header {
    background-color: $backgroundPageColor;
}

.ant-breadcrumb-link {
    a {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #7E7D88 !important;
    }
   
}
.ant-breadcrumb > span:last-child a {

    color: $primaryColor !important;
}
