@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';


.Dasboard  {
    width: 1440px;
    height: 810px;
    border-radius: 16px;
    background-color: $backgroundPageColor;
    margin: auto;
    // Content
    .ant-layout{
        background-color: $backgroundPageColor;
    }
    .ant-layout-header{
        padding: 0;
        margin-left: 24px;
    }
    .ant-layout-content {
        margin: '24px 16px 0';
        background-color: $backgroundPageColor;
    }

    .Dasboard-name{
        width: 162px;
        height: 36px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
    
        color: $primaryColor;
        
    }
    
}