@import '../../../assets//styles/variables';
@import '../../../assets/styles/mixins';

.btngroup {
    position: absolute;
    top: 204px;
    right: 24px;

    .btn-Dichvu {
      
        &-content {
            width: 80px;
            height: 94px;
            background: #FFF2E7;
            box-shadow: 0px 0px 6px #E7E9F2;
            border-radius: 8px 0px 0px 8px;
            display: flex;
            align-items: center;
            flex-direction: column;

            img {
                margin-top: 14px;
            }

            p {
                width: 72px;
                height: 38px;
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                text-align: center;
                color: #FF7506;
            }
        }
    }

}