@import '../../../../assets//styles/variables';
@import '../../../../assets/styles/mixins';

.ContentThietbi-control {
    width: 1112px;
    display: flex;
    align-items: center;
    margin-left: 24px;
    justify-content: space-between;

    // &-dichvu {}

    // &-status {}
    &-connection {
        margin-left: 24px;
    }

    @include controllDefault;

    &-search {
        margin-left: 8px;
       
    }
}